{% extends "base.html" %}
{% block content %}
<h1>
    Iris flower classification
</h1>
<hr>
<form action="" method="POST">
    <label for="sepalLength">
        Sepal length(cm)
        <input type="number" min="0" value="0" step="any" inputmode="decimal" name="sepalLength">
    </label>
    <label for="sepalWidth">
        Sepal width(cm)
        <input type="number" min="0" value="0" step="any" inputmode="decimal" name="sepalWidth">
    </label>
    <label for="petalLength">
        Petal length(cm)
        <input type="number" min="0" value="0" step="any"  inputmode="decimal" name="petalLength">
    </label>
    <label for="petalWidth">
        Petal width(cm)
        <input type="number" min="0" value="0" step="any" inputmode="decimal" name="petalWidth">
    </label>
    <button type="submit">Submit</button>
</form>
{% endblock content %}